<%- include("../partials/header"); -%>
<div class="container">
    <h2 class="mt-4" style="text-align:center;">Stock Entry</h2>

    <% const result = Array.from(new Set(item.map(s => s.Sub_Category))).map(Sub_Category => { 
        return{
            Sub_Category : Sub_Category
        }
    })
        console.log(result)
    %>
    <% result.forEach(item => { %>
        <a class="card subcategory_card" href="/form/stock/<%= item.Sub_Category %> " value="<%= item.Sub_Category %>"><%= item.Sub_Category %></a>
    <% }) %>
    
</div>

<%- include("../partials/footer"); -%>
